.header {
  background-color: #012d63;
}

.header-container {
  display: flex;
}

.header-logo {
  width: 100px;
  height: 60px;
  margin-right: 152px;
}

.header-nav {
  align-content: center;
  margin-right: 73px;
}

.header-list {
  display: flex;
  gap: 29px;
}

.header-item {
}

.header-page {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #c7c7c7;
}

.header-list-languages {
  display: flex;
}

.header-item-languages {
  align-content: center;
  margin-left: 15px;
}

.header-ua {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  color: #dcdcdc;
}

.header-eng {
  font-weight: 400;
  font-size: 24px;
  color: #dcdcdc;
}

.hero {
  background-image: url("./images/snikers-nike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 108px;
  padding-bottom: 183px;
}

.hero-photo {
  width: 160px;
  height: 120px;
  margin-left: 5px;
}

.hero-CR {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  margin-left: 39px;
}

.hero-title {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 144px;
  color: #fff;
}

.hero-subtitle {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 72px;
  color: #fff;
  margin-bottom: 12px;
}

.hero-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 41px;
  max-width: 508px;
}

.hero-button {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  background-color: #8e32c6;
  color: #fff;
  width: 254px;
  height: 67px;
}

.features {
  background-image: url("./images/features.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 130px;
}

.features-list {
  display: flex;
  border: solid #8e32c6;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.features-item {
}

.features-title1 {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-left: 91px;
  max-width: 159px;
  border-right: 1px solid #fff;
  width: 346px;
  height: 346px;
}

.features-title2 {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #fff;
  max-width: 161px;
  border-right: 1px solid #fff;
  width: 346px;
  height: 346px;

}

.features-title3 {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #fff;
  max-width: 151px;
  margin-right: 94px;
}

.features-photo1 {
  width: 240px;
  height: 240px;
  margin-left: 50px;
}

.features-photo2 {
  width: 240px;
  height: 240px;
}

.features-photo3 {
  width: 240px;
  height: 240px;
  margin-right: 50px;
}

.reviews-title {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.reviews-subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.reviews-number {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
}

.reviews-photo {
  border-radius: 100%;
}

.reviews-name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.reviews-with-us {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: #d8d8d8;
}

.order-title {
  font-family: "Playfair";
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

.order-email {
  border-radius: 50px;
  width: 690px;
  height: 60px;
  background-color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  color: #959595;
}

.order-your {
  border-radius: 50px;
  width: 580px;
  height: 50px;
  background-color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #959595;
}

.order-button {
  border-radius: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  background-color: #8e32c6;
  width: 248px;
  height: 68px;
}

.footer-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.footer-email {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.footer-rights {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.footer-photo {
  width: 108px;
  height: 81px;
}

.footer-CR {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
