.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #012d63;
  padding-top: 16px;
  padding-bottom: 14px;
}

.header-container {
  display: flex;
}

.header-logo {
  width: 100px;
  height: 60px;
  margin-right: 152px;
}

.header-nav {
  align-content: center;
  margin-right: 73px;
}

.header-list {
  display: flex;
  gap: 29px;
}

.header-item {
}

.header-page {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #c7c7c7;
}

.header-list-languages {
  display: flex;
}

.header-item-languages {
  align-content: center;
  margin-left: 15px;
}

.header-ua {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  color: #dcdcdc;
}

.header-eng {
  font-weight: 400;
  font-size: 24px;
  color: #dcdcdc;
}

.hero {
  background-image: url("./images/snikers-nike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 108px;
  padding-bottom: 183px;
}

.hero-photo {
  width: 160px;
  height: 120px;
  margin-left: 5px;
}

.hero-CR {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  margin-left: 39px;
}

.hero-title {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 144px;
  color: #fff;
}

.hero-subtitle {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 72px;
  color: #fff;
  margin-bottom: 12px;
}

.hero-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 41px;
  max-width: 508px;
}

.hero-button {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  background-color: #8e32c6;
  border-radius: 10px;
  color: #fff;
  width: 254px;
  height: 67px;
}

.features {
  background-image: url("./images/features.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 130px;
}

.features-list {
  display: flex;
  border: solid #8e32c6;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 50px;
}

.features-item:not(:last-child) {
  border-right: 1px solid #fff;
}

.features-item:nth-child(2) {
  padding: 25px 95px;
}

.features-title1 {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #fff;
}

.features-title2 {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #fff;
  width: 161px;
}

.features-title3 {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #fff;
  width: 151px;
}

.reviews {
  background-image: url("./images/flowers.png"), url("./images/reviews.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 340px 380px, cover;
  background-position: left bottom, bottom;
  padding-top: 24px;
  padding-bottom: 134px;
  border: 2px solid #fff;
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 93px;
}

.reviews-item {
  box-shadow: 0 30px 0 -13px #732f26, 0 14px 0 -5px #b95a4c;
  background-image: linear-gradient(
    135deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  padding: 49px 14px 29px 14px;
  border-radius: 15px;
}

.reviews-item:nth-child(2) {
  box-shadow: 0 30px 0 -13px #61337c, 0 14px 0 -5px #9159b1;
  background-image: linear-gradient(
    135deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
}

.reviews-item:nth-child(1) {
  box-shadow: 0 30px 0 -13px #533978, 0 14px 0 -5px #7b54b2;
  background-image: linear-gradient(
    135deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
}

.reviews-title {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.reviews-subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  width: 228px;
  margin-bottom: 8px;
}

.reviews-number {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
  margin-bottom: 47px;
}

.reviews-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reviews-photo {
  border-radius: 100%;
  width: 31px;
  height: 31px;
}

.reviews-name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.reviews-with-us {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: #d8d8d8;
}

.order {
  background-image: url("./images/order.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 37px;
}

.order-title {
  display: flex;
  justify-content: center;
  font-family: "Playfair";
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  margin-bottom: 33px;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-email {
  border-radius: 50px;
  width: 690px;
  height: 60px;
  background-color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  color: #959595;
  margin-bottom: 19px;
}

.order-your {
  border-radius: 50px;
  width: 580px;
  height: 50px;
  background-color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #959595;
  margin-bottom: 19px;
}

.order-button {
  border-radius: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  background-color: #8e32c6;
  width: 248px;
  height: 68px;
}

.footer-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.footer {
  background-color: #021635;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.footer-item {
  margin-bottom: 10px;
}

.footer-text {
  width: 354px;
}

.footer-box {
  display: flex;
  border-bottom: 2px solid #9b9b9b;
}

.footer-address {
  margin-left: 415px;
}

.footer-email {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.footer-bottom {
  display: flex;
}

.footer-div {
  display: flex;
  flex-direction: column;
  margin-right: 766px;
  padding-top: 24px;
  gap: 7px;
}

.footer-rights {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.footer-photo {
  width: 108px;
  height: 81px;
}

.footer-CR {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  margin-left: 30px;
}
